<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Storico Tickets</ion-title>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>

  <ion-list class="trasparente ion-no-padding">
    <ion-item *ngFor="let objTicket of tickets; let i=index;" lines="none" class="ion-no-margin ion-no-padding">

      <ion-card style="width: 100%!important;" class="my-margins" (click)="openDefault(objTicket.id)"  >
        <ion-item-sliding #slideitem>

          <ion-item lines="none" >
            <ion-card-content style="background-color: #FFF" class="ion-no-padding ion-padding-top ion-padding-bottom">
              <ion-label class="ion-padding-start ion-padding-end label-tipo" style="float:right"
              [ngClass]="'tipoticket'+objTicket.tipoTicket">{{objTicket.tipoTicket}} </ion-label>
            <ion-card-subtitle>Data: {{objTicket.data1| date: 'dd/MM/yyyy'}}</ion-card-subtitle>
            <ion-card-title class="grassetto">{{objTicket.n_Ticket}}</ion-card-title>
              <ion-label class="ion-padding-start ion-padding-end stato-tipo" style="float:right">
                {{objTicket.statoTicket}} </ion-label>
              <ion-label>Cliente: <span class="grassetto">{{objTicket.customer.ragsoc}}</span> </ion-label>
              <ion-label>
              </ion-label>
            </ion-card-content>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="medium" class="w-40px"><span class="rotated-text">RICAMBI</span></ion-item-option>
            <ion-item-option (click)="openDetail(objTicket.id, slideitem)" class="w-40px"><span class="rotated-text">ATTIVITA'</span></ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>