ion-content{
    --background: url("../../assets/img/backgroundhilight.png") no-repeat !important;
    background-size: cover;
}

.backsignaturepad {
    background-color: #FFF;
    border: 1px solid grey;
    border-radius: 4px;
}

.cntr{
    text-align: center;
}

.w-90 {
    width: 95%;
}

.mypadding15 {
    padding-top: 15px;
}

.mypadding25 {
    padding-top: 25px;
}

.button-save {
    --background: #04c582;
}