<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Firma</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-row [ngClass]="{'drawing-active': isDrawing}">
    <ion-col></ion-col>
    <ion-col class="ion-no-padding backsignaturepad" >
      <!-- <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>-->
      <signature-pad [options]="signaturePadOptions" class="ion-padding-right mypad"></signature-pad>
    </ion-col>
    <ion-col></ion-col>
 
  </ion-row>

  <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger" size="small">
      <ion-back-button defaultHref="/home" [text]="" (click)="unlockScreenOr()"></ion-back-button>
    </ion-fab-button>
  </ion-fab> -->


  <ion-row class="ion-padding-start ion-padding-end">

    <!-- <ion-col class="cntr" size="2">
 
      <ion-back-button class="w-90" defaultHref="/home" (click)="unlockScreenOr()"></ion-back-button>
    </ion-col> -->
    <ion-col class="cntr" size="8" class="ion-padding-top">
      Ticket N. {{objTicket.n_Ticket}} - {{objTicket.customer.ragsoc}}
    </ion-col>
 
    <ion-col class="cntr" size="2" class="ion-no-padding">
      <ion-button class="w-90" (click)="clearPad()">Cancella</ion-button>
    </ion-col>
    <ion-col class="cntr" size="2" class="ion-no-padding">
      <ion-button class="w-90 button-save" ion-button  (click)="savePad()">Salva</ion-button>
    </ion-col>

  </ion-row>


  <!-- <ion-row>
    <ion-col></ion-col>
    <ion-col width-80>
      <img [src]="signature"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row> -->
 
</ion-content>