ion-content{
    --background: url("../../assets/img/backgroundhilight.png") no-repeat !important;
    background-size: cover;
}

.backsignaturepad {
    background-color: #FFF;
    border: 1px solid grey;
    border-radius: 4px;
}
