<!-- <ion-header>
  <ion-toolbar>
    <ion-title>boxX - Password Reset</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <ion-row>
    <ion-col center size-lg="4" size-md="12" offset-lg="4">
      <ion-card>
        <ion-card-header>
          <ion-img style="height: 100px;" src="../../../assets/img/BoxXColoredtextandicon.svg"></ion-img>
        </ion-card-header>
        <ion-card-content>

          <form  (submit)="onSubmit()">
            Inserisci nome utente o e-mail e ti invieremo un link per accedere di nuovo al tuo account.
            <p #emailLabel >  </p>
            <ion-item>
              <ion-label position="stacked">UTENTE O EMAIL<ion-text color="#FFF">*</ion-text>
              </ion-label>
              <ion-input #emailRef type="text"></ion-input>
            </ion-item>
            
            <ion-button color="secondary" type="submit" expand="block" class="ion-margin-top" [disabled]="" onclick="inviaMail();">INVIA IL LINK DI ACCESSO</ion-button>
            <ion-button routerLink="/login" routerDirection="back" expand="block" class="ion-margin-top">Torna a login</ion-button>
          </form> 
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- <ion-spinner name="dots" *ngIf="loading"></ion-spinner> -->
</ion-content>