

ion-content{
    --background: url("../../assets/img/backgroundhilight.png") no-repeat !important;
    background-size: cover;
}

ion-card {
    --background: white;
    margin-bottom: 8px !important;
    border: 1px #b1b1b1 solid;
}

.sc-ion-card-ios-h, .sc-ion-card-md-h {
    -webkit-box-shadow: none;
    box-shadow: none;
}

ion-card-content {
    padding: 0px 16px;
    max-height: 0px;
    /*border-top: 1px rgb(215, 215, 215) solid;*/
}

.map {
    height: 450px;
    margin-bottom: 20px;

    background-image: url("../../assets/img/map.svg");
    background-repeat: no-repeat;
}

.linknavigazione {
    position: absolute;
    top: 10px;
    right: 20px;
}

.accordionicon {
    position: absolute;
    top: 35px;
    right: 30px;
}

ion-back-button {
    --color: #FFF;
}