<ion-content class="ion-padding">


  <ion-row>
    <ion-col center size-lg="4" size-md="12" offset-lg="4">
      <ion-card>
        <ion-card-header>
          <ion-img style="height: 100px;" src="../../../assets/img/BoxXColoredtextandicon.svg"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <!-- 
            FORM MODEL DRIVEN : 
            usa FormGroup e formControlName nell'html
            e può così fare la validazione nel model (file .ts)
          -->
          
          <!--<form [formGroup]='frmRegister' (submit)="onSubmit()">-->
          <form [formGroup]='uService.formModel' (submit)="onSubmit()">
            <ion-item>
              <ion-label position="stacked">UTENTE <ion-text color="#FFF">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="UserName"></ion-input>
            </ion-item>

            <ng-container *ngFor="let validation of validation_messages.UserName">
              <!--<ion-label class="error-message" *ngIf="frmRegister.get('UserName').hasError(validation.type) && (frmRegister.get('UserName').dirty || frmRegister.get('UserName').touched)">-->
              <ion-label class="error-message" *ngIf="uService.formModel.get('UserName').hasError(validation.type) && (uService.formModel.get('UserName').dirty || uService.formModel.get('UserName').touched)">
                <ion-icon name="warning" color="danger"></ion-icon>
                {{ validation.message }}
              </ion-label>
            </ng-container>

            <ion-item>
              <ion-label position="stacked">NOME COGNOME<ion-text color="#FFF">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="FullName"></ion-input>
            </ion-item>

            <ng-container *ngFor="let validation of validation_messages.FullName">
              <ion-label class="error-message" *ngIf="uService.formModel.get('FullName').hasError(validation.type) && (uService.formModel.get('FullName').dirty || uService.formModel.get('FullName').touched)">
                <ion-icon name="warning" color="danger"></ion-icon>
                {{ validation.message }}
              </ion-label>
            </ng-container>

            <ion-item>
              <ion-label position="stacked">EMAIL <ion-text color="#FFF">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="Email">
              </ion-input>
            </ion-item>

            <ng-container *ngFor="let validation of validation_messages.Email">
              <!-- <ion-label class="error-message" *ngIf="frmRegister.get('Email').hasError(validation.type) && (frmRegister.get('Email').dirty || frmRegister.get('Email').touched)">-->
              <ion-label class="error-message" *ngIf="uService.formModel.get('Email').hasError(validation.type) && (uService.formModel.get('Email').dirty || uService.formModel.get('Email').touched)">
                <ion-icon name="warning" color="danger"></ion-icon>
                {{ validation.message }}
              </ion-label>
            </ng-container>

            <ion-item>
              <ion-label position="stacked">PASSWORD <ion-text color="#FFF">*</ion-text>
              </ion-label>
              <ion-input type="password" formControlName="Password">
              </ion-input>
            </ion-item>

            <ng-container *ngFor="let validation of validation_messages.Password">
              <!--<ion-label class="error-message" *ngIf="frmRegister.get('Password').hasError(validation.type) && (frmRegister.get('Password').dirty || frmRegister.get('Password').touched)">-->
              <ion-label class="error-message" *ngIf="uService.formModel.get('Password').hasError(validation.type) && (uService.formModel.get('Password').dirty || uService.formModel.get('Password').touched)">
                <ion-icon name="warning" color="danger"></ion-icon>
                {{ validation.message }}
              </ion-label>
            </ng-container>

            <ion-item>
              <ion-label position="stacked">CONFERMA PASSWORD <ion-text color="#FFF">*</ion-text>
              </ion-label>
              <ion-input type="password" formControlName="ConfirmPassword">
              </ion-input>
            </ion-item>

            <ng-container>
              <!--<ion-label class="error-message" *ngIf="frmRegister.get('ConfirmPassword').hasError('notEquivalent') && (frmRegister.get('ConfirmPassword').dirty || frmRegister.get('ConfirmPassword').touched)">-->
              <ion-label class="error-message" *ngIf="uService.formModel.get('ConfirmPassword').hasError('notEquivalent') 
                && (uService.formModel.get('ConfirmPassword').dirty || uService.formModel.get('ConfirmPassword').touched)">
                <ion-icon name="warning" color="danger"></ion-icon>
                Le password non coincidono
              </ion-label>
            </ng-container>
            <!--<ion-button color="secondary" type="submit" expand="block" class="ion-margin-top" [disabled]="!frmRegister.valid">REGISTRATI</ion-button>-->
            <ion-button color="secondary" type="submit" expand="block" class="ion-margin-top" [disabled]="!uService.formModel.valid">REGISTRATI</ion-button>
            <ion-button routerLink="/login" routerDirection="back" expand="block" class="ion-margin-top">Torna a login</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- <ion-spinner name="dots" *ngIf="loading"></ion-spinner> -->
</ion-content>