<ion-content class="ion-padding">


  <ion-row>
    <ion-col center size-lg="4" size-md="12" offset-lg="4">
      <ion-card>
        <ion-card-content>
          <!-- 
            FORM MODEL DRIVEN : 
            usa FormGroup e formControlName nell'html
            e può così fare la validazione nel model (file .ts)
          -->
          <form [formGroup]='frmRegister'>
            <ion-item>
              <ion-label position="stacked">USER NAME <ion-text color="#FFF">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="UserName1"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">EMAIL <ion-text color="#FFF">*</ion-text>
              </ion-label>
              <ion-input type="text" formControlName="Email1">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">PASSWORD <ion-text color="#FFF">*</ion-text>
              </ion-label>
              <ion-input type="password" formControlName="Password1">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">RIPETI PASSWORD <ion-text color="#FFF">*</ion-text>
              </ion-label>
              <ion-input type="password" formControlName="ConfirmPassword1">
              </ion-input>
            </ion-item>

            <ion-button color="secondary" type="submit" expand="block" class="ion-margin-top">Register</ion-button>
            <ion-button href="/login" expand="block" class="ion-margin-top">Torna a login</ion-button>

          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!--
   
  <ion-row>
    <ion-col center size-lg="4" size-md="12" offset-lg="4">
      <ion-card>
      <ion-card-content>
        
        <form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">

          <ion-item>
            <ion-label position="stacked">USERNAME <ion-text color="#FFF">*</ion-text>
            </ion-label>
            <ion-input required type="text" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">EMAIL <ion-text color="#FFF">*</ion-text>
            </ion-label>
            <ion-input required type="text" #Email="ngModel"   name="Email" [(ngModel)]="formModel.Email">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">PASSWORD <ion-text color="#FFF">*</ion-text>
            </ion-label>
            <ion-input required type="password" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password">
            </ion-input>
           
          </ion-item>
          <ion-label class="text-danger" *ngIf="(Password.touched) && (Password.value == '')"   >Required</ion-label>
          <ion-label class="text-danger" *ngIf="(Password.touched) && (Password.value.length < 5)"   >Almeno 5 caratteri</ion-label>
          
          <ion-item>
            <ion-label position="stacked">CONFIRM PASSWORD <ion-text color="#FFF">*</ion-text>
            </ion-label>
            <ion-input required type="password" #ConfirmPassword="ngModel" name="ConfirmPassword" [(ngModel)]="formModel.ConfirmPassword">
            </ion-input>

            <ion-label class="text-danger" *ngIf="uService.formModel.get('Passwords.ConfirmPassword').touched && uService.formModel.get('Passwords.ConfirmPassword').errors?.required">Campo obbligatorio.</ion-label>
            <ion-label class="text-danger" *ngIf="uService.formModel.get('Passwords.ConfirmPassword').touched && uService.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">La password di conferma non corrisponde.</ion-label>
          </ion-item>

          <ion-button color="secondary" type="submit" expand="block" class="ion-margin-top" [disabled]="!form.valid" >Register</ion-button>
          <ion-button  href="/login"  expand="block" class="ion-margin-top">Torna a login</ion-button>

        </form>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
-->

  <!-- <ion-spinner name="dots" *ngIf="loading"></ion-spinner> -->
</ion-content>