ion-spinner {
    display: block;
    margin: auto;
    top: 50%;
}

ion-content{
    --background: url("../../assets/img/backgroundhilight.png") no-repeat !important;
    background-size: cover;
}

.grassetto {
    font-weight: bold;
}

.tipoticketA{
    background-color: #3cb3f7;
}

.tipoticketI{
    background-color: #ff7843;
}

.label-tipo{
    border-radius: 4px;
    color: white;
}

.stato-tipo{
    border: grey solid 1px;
    border-radius: 4px;
    color: grey;
}



ion-card-content {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}


ion-back-button {
    --color: #FFF;
}

.trasparente {
    --ion-item-background: transparent !important;
  }

.rotated-text {
    transform: rotate(-90deg) !important;
}

ion-item-option{
    font-weight: bold;
}

.w-40px{
    width: 50px;
}

.w100{
    width: 100%;
}


ion-card {
    --background: white;
    margin-bottom: 8px !important;
    border: 1px #b1b1b1 solid;

}

.sc-ion-card-ios-h, .sc-ion-card-md-h {
    -webkit-box-shadow: none;
    box-shadow: none;
}

header {
    background-color: white;
}

.ion-card-top-left {
    background-color: #57a9d8;
}

.ion-card-top-right {
    background-color: #4cc198;
}

.bk-white {
    background-color: #FFF;
}

ion-tab-button {
    --color: #cdcdcd;
    --color-selected: #464646;
}
