<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>


  <!--
  <ion-item-sliding>
    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-input #n_Ticket formControlName="n_Ticket">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="1" class="ion-padding-top">
        <ion-input #id formControlName="id" hidden ></ion-input>
        <ion-icon src="../../assets/ionicicons/create-outline.svg"  size="large" color="primary"      
          (click)="onClick(id.value)">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-item-sliding>
-->
  <form [formGroup]="fgroup" *ngFor="let fgroup of ticketForms.controls; let i=index;">
    <ion-list>
      <!-- Sliding item with text options on both sides -->
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option><ion-icon name="star"></ion-icon></ion-item-option>
        </ion-item-options>

        <ion-item>
          <div class="ion-text-center">
            <ion-label slot="start"> {{fgroup.get('n_Ticket').value}} </ion-label>
            <ion-label slot="end">{{fgroup.get('tipoTicket').value}} </ion-label>
          </div>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="openDetail(fgroup.get('id').value)" >Apri</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </form>

  <form [formGroup]="fgroup" *ngFor="let fgroup of ticketForms.controls; let i=index;">
    <ion-card class="ion-no-margin ion-margin-bottom ion-padding-start">
      <ion-list class="ion-no-margin">
        <ion-col size="1" class="ion-padding-top">
          <ion-input #id formControlName="id" hidden></ion-input>
          <ion-icon src="../../assets/ionicicons/create-outline.svg" size="large" color="primary"
            (click)="onClick(id.value,i)">
          </ion-icon>
        </ion-col>
        <ion-row>
          <ion-col size="8">
            <ion-item>
              <ion-input #n_Ticket formControlName="n_Ticket">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="1" class="ion-padding-top">
            <ion-input #id formControlName="id" hidden></ion-input>
            <ion-icon src="../../assets/ionicicons/create-outline.svg" size="large" color="primary"
              (click)="onClick(id.value,i)">
            </ion-icon>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="1">
          </ion-col>
          <ion-col size="5">
            <ion-input #tipoTicket formControlName="tipoTicket"></ion-input>
            <ion-label class="ion-no-padding ion-input-dettagli">{{tipoTicket.value}}
            </ion-label>
          </ion-col>

          <ion-col size="5">
            <ion-input #statoTicket formControlName="statoTicket"></ion-input>
            <ion-label class="ion-no-padding ion-input-dettagli">{{statoTicket.value}}
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row class="myborder-bottom">
          <ion-col size="1">
          </ion-col>

          <ion-col size="9">
            <ion-input #data1 formControlName="data1" hidden></ion-input>
            <ion-label class="ion-no-padding ion-input-dettagli">Data: {{data1.value| date: 'dd/MM/yyyy'}}
            </ion-label>
          </ion-col>

        </ion-row>

      </ion-list>
      <ion-reorder slot="end"></ion-reorder>
    </ion-card>
  </form>
</ion-content>