ion-toolbar {
    text-align: center;
}

ion-card {
    --background: url("../../../assets/img/backgrounddark.jpg") no-repeat fixed !important; 
}


ion-item {
    --background: transparent;
    --color: #FFF;
    --border-color: #FFF;
}

ion-button {
    --background: #04c582;
}

ion-spinner {
    display: block;
    margin: auto;
  }