<ion-header >
  <ion-toolbar>
    <!-- <ion-title>Login</ion-title> -->
    <img src="../../../assets/img/BoxX.svg" width="40" height="40" alt="BoxX Logo" title="Benvenuti su BoxX">
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-item>
    <ion-label position="stacked">USERNAME <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">PASSWORD <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="text"></ion-input>
  </ion-item>
  <ion-button (click)="login()" expand="block">Login</ion-button>
  <ion-button expand="block" color="secondary" href="/register" routerDirection="forward">Register</ion-button>
</ion-content>