ion-spinner {
    display: block;
    margin: auto;
    top: 50%;
}

ion-content{
    --background: url("../../assets/img/backgroundhilight.png") no-repeat !important;
    background-size: cover;
}

.sc-ion-card-ios-h, .sc-ion-card-md-h {
    -webkit-box-shadow: none;
    box-shadow: none;
}

ion-card {
    --background: white;
    margin-bottom: 8px !important;
    border: 1px #b1b1b1 solid;
}

.trasparente {
    --ion-item-background: transparent !important;
}

.my-margins{
    margin-top: 10px;
    margin-left: 15px;
}

.rotated-text {
    transform: rotate(-90deg) !important;
}



ion-item-option{
    font-weight: bold;
}

.grassetto {
    font-weight: bold;
}

.tipostatoC{
    background-color: #b1b1b1;
}

.tipostatoI{
    background-color: rgb(215, 0, 0);
}

.tipostatoS{
    background-color: darkorange;
}

.label-tipo{
    border-radius: 4px;
    color: white;
}

ion-card-content {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.w30{
    width: 30%;
}
.w-40px{
    width: 50px;
}
.w100{
    width: 100%;
}

ion-back-button{
    --color:#fff;
}

.bk-complete{
    background-color: #51b892;
}

.titolo-in-attesa {
    border-top: 1px grey solid;
    --background: transparent !important;
    border-bottom: 0px;
}