<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trasferte</ion-title>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-header class="ion-padding-bottom titolo-missions-group1">
    <ion-title class="ion-text-center"  >APERTE</ion-title>
  </ion-header>
  <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addMission()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list class="trasparente ion-no-padding ion-no-margin ion-padding-bottom">
    <ion-item *ngFor="let obj of missions_I; let i=index;" lines="none" class="ion-margin-bottom">
      <ion-card style="width: 100%!important;" class="my-margins">
        <ion-item-sliding #slideitem>
          <ion-item-options side="start">
            <ion-item-option color="danger" (click)="deleteMission(obj.id)">
              <ion-icon src="../../assets/ionicicons/delete.svg" size="large" color="light" ></ion-icon>
            </ion-item-option>
          </ion-item-options>
          
          <ion-item lines="none"  (click)="openDetail(obj.id)">
            <ion-card-content style="background-color: #FFF" class="ion-no-padding ion-padding-top ion-padding-bottom">
              <ion-label class="ion-padding-start ion-padding-end label-tipo" style="float:right"
              [ngClass]="'tipostato'+obj.stato">{{obj.stato}} </ion-label>
              <ion-card-subtitle>Data: {{obj.dtIns| date: 'dd/MM/yyyy'}}</ion-card-subtitle>
              <ion-card-title class="grassetto">Trasferta n° {{obj.id}}</ion-card-title>
              <ion-label>{{obj.descrizione}}</ion-label>
            </ion-card-content>
          </ion-item>
          <ion-item-options side="end">
            <!--
            <ion-item-option color="medium" class="w-40px">
              <span class="rotated-text">RICAMBI</span>
            </ion-item-option>
            <ion-item-option (click)="openDetail(obj.id, slideitem)" class="w-40px">
              <span class="rotated-text">ATTIVITA'</span>
            </ion-item-option>
          -->
            <ion-item-option (click)="closeMission(obj.id)" class="bk-complete">
              <ion-icon src="../../assets/ionicicons/complete.svg" size="large"></ion-icon>
            </ion-item-option>

          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ion-item>

  </ion-list>

<ion-header class="ion-padding-bottom titolo-missions-group2">
    <ion-title class="w-100 ion-no-margin ion-no-padding" class="ion-text-center"  >IN ATTESA DI RIMBORSO</ion-title>
</ion-header>

  <!-- <div style="color:blue">IN ATTESA DI RIMBORSO</div> -->

  <ion-list class="trasparente ion-no-padding">
    <ion-item *ngFor="let obj of missions_S; let i=index;" lines="none" class="ion-no-margin ion-no-padding">
      <ion-card style="width: 100%!important;" class="my-margins">
          
          <ion-item lines="none"  (click)="openDetail(obj.id)">
            <ion-card-content style="background-color: #FFF" class="ion-no-padding ion-padding-top ion-padding-bottom">
              <ion-label class="ion-padding-start ion-padding-end label-tipo" style="float:right"
              [ngClass]="'tipostato'+obj.stato">{{obj.stato}} </ion-label>
              <ion-card-subtitle>Data: {{obj.dtIns| date: 'dd/MM/yyyy'}}</ion-card-subtitle>
              <ion-card-title class="grassetto">Trasferta n° {{obj.id}}</ion-card-title>
              <ion-label>{{obj.descrizione}}</ion-label>
            </ion-card-content>
          </ion-item>
      </ion-card>
    </ion-item>

  </ion-list>

</ion-content>