<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Foto del Ticket</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!--
  noPhotos: {{noPhotos}}
  loading: {{loading}}
  -->
  <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>
  <div class="noimagecontainer" *ngIf="photos != null && photos.length <= 0 && !loading">
    <ion-label>Nessuna foto presente</ion-label>
  </div>
  <!--
  <ion-slides class="image-slider" loop="true" slidesPerView="4">
    <ion-slide *ngFor="let img of photos">
      {{img.id}}
      <img style="border:1px solid black;" [src]="img.photo" class="thumb-img" imageViewer/>
    </ion-slide>
  </ion-slides>
  -->
  <!-- [text]="'Foto N. '+img.id" -->
  <!-- ""dateFormat(img.dtIns)" -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let img of photos">
        <div class="imgcontainer">
          <ion-img ionImgViewer 
          [scheme]="'dark'" 
          [swipeToClose]="true" 
          [title]= "'Ticket: '+objTicket.n_Ticket"
          [text]= "img.dtIns | date: 'dd/MM/yyyy - h:mm:ss'"
          test="Directive"
          class="photoframe" 
          [src]="img.photo"></ion-img>
          <ion-icon *ngIf="isEnabled" src="../../assets/ionicicons/delete.svg" size="small" (click)="deletePhoto(img.id)"></ion-icon>
       </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-img 
  ionImgViewer 
  title="Demo" 
  text="Directive" 
  scheme="light" 
  src="./assets/img/demo.jpg">
</ion-img> -->
  <!-- <ion-img-viewer 
  title="Demo" 
  text="Component" 
  scheme="dark" 
  src="./assets/img/demo.jpg">
</ion-img-viewer> -->

  <ion-fab *ngIf="isEnabled" vertical="bottom" horizontal="end" slot="fixed" >
    <ion-row class="ion-text-center">
      <ion-fab-button color="danger" (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button color="danger" (click)="getPictures()">
        <ion-icon name="images"></ion-icon>
      </ion-fab-button> -->
    </ion-row>
  </ion-fab>

</ion-content>