ion-card-content {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}


ion-back-button {
    --color: #FFF;
}


ion-slide.swiper-slide {
    left: 25%;
}

.slide-zoom {
    background: #e6e6e6;
}

.thumb-img {
    padding: 10px;
}


ion-content{
    --background: url("../../assets/img/backgroundhilight.png") no-repeat !important;
    background-size: cover;
}

.photoframe{
    background-color: #FFF;
    //border-radius: 4px;
    border: 1px white solid;
}

ion-button {
    color: #FFF;
}


// .imgcontainer {
//     position: relative;
//     width: 50%;
//   }
  
  /* Make the image responsive */
  .imgcontainer ion-img {
    width: 100%;
    height: auto;
    color: #FFF;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .imgcontainer ion-icon {
    position: absolute;
    top: 0px;
    right: 0px;
     transform: translate(-35%, +35%);
     -ms-transform: translate(-35%, +35%);
    background-color: rgba(255,255,255,0.8);
    color: red;
    font-size: 16px;
    padding: 4px 4px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
