ion-card-content {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}


ion-back-button {
    --color: #FFF;
}


ion-slide.swiper-slide {
    left: 25%;
}

.slide-zoom {
    background: #e6e6e6;
}

.thumb-img {
    padding: 10px;
}
