<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/missions-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Trasferta N° {{objMission.id}}</ion-title>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>

 
  <!--  <ion-button  (click)="setTodayDate()">
    <ion-icon name="today"></ion-icon>
  </ion-button>
-->

  <!--
  <ion-item>
    <ion-label>Data Ticket:</ion-label>
    <ion-datetime #dtDefault [(ngModel)]="objTicket.data1" displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>
-->

  <ion-row class="bk-white">
    <ion-col class="ellipsis-container ion-no-padding ion-padding-top ion-padding-end">
      <ion-card class="ion-no-margin ion-margin-start ion-card-top-left">
        <ion-card-header class="ion-card-top-left ion-no-padding ion-padding-start ion-padding-end">
          <ion-card-subtitle class="ion-no-padding ellipsis" color="light">Rimborsi</ion-card-subtitle>
          <ion-card-title color="light" font="large">
            <h1 class="ion-no-margin maxi-font">{{totCards}} </h1>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="ellipsis-container ion-no-padding ion-padding-top ion-padding-startd">
      <ion-card class="ion-no-margin ion-margin-end ion-card-top-right">
        <ion-card-header class="ion-card-top-right ion-no-padding ion-padding-start ion-padding-end">
          <ion-card-subtitle class="ion-no-padding ellipsis" color="light">Totale</ion-card-subtitle>
          <ion-card-title color="light" font="large">
            <h1 class="ion-no-margin maxi-font">{{totImporto}} </h1>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="button-close-container ion-padding-top">
      <span *ngIf="(objMission.stato == 'I') ; else (trsfChiusa)" >Chiudi Trasferta</span><br>
      
      <ng-template #trsfChiusa >
        Trasferta Chiusa
      </ng-template>

      <ion-toggle #toggleStato (ionChange)="ConfirmMission()" [checked]="missionClosed" [disabled]="missionClosed">Chiudi</ion-toggle>
      <!-- *ngIf="objMission.stato == 'I'" -->
    </ion-col>
  </ion-row>

  <ion-row class="bk-white">
    <ion-col>
      <ion-item>
        <ion-label>Data: </ion-label>
        <ion-datetime #dtDefault (ionBlur)="onChange(dtDefault.value, descrizioneDefault.value)"
          [(ngModel)]="objMission.dtIns" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item> 
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label style="max-width: 40% !important;">Valuta:</ion-label>
        <ion-select #valutaDefault  style="max-width: 60% !important;" (ionChange)="onChangeValuta(valutaDefault.value)" [(ngModel)]="objMission.valutaID">
          <ion-select-option *ngFor="let item of missionValute" [value]="item.id">{{item.codice}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label>Descrizione: </ion-label>
    <ion-input #descrizioneDefault (ionBlur)="onChange(dtDefault.value, descrizioneDefault.value)"
      [(ngModel)]="objMission.descrizione"></ion-input>
  </ion-item>


  
</ion-header>

<ion-content class="ion-padding" #topPage>
  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>

  <ion-fab *ngIf="objMission.stato == 'I'"  vertical="bottom" horizontal="end" slot="fixed" (click)="addMissionDetail()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngFor="let missionDetail of missionDetails;">
    <app-mission-detail-card #missioncard (removedDetail)="removedDetailCard($event)" [missionCausali]="this.missionCausali"
      [missionValute]="this.missionValute" [statoMission]="objMission.stato" [localMissionDetail]="missionDetail">
    </app-mission-detail-card>
  </div>

</ion-content>