<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tickets Aperti</ion-title>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>

  <ion-list class="trasparente ion-no-padding">
    <ion-item  *ngFor="let objTicket of tickets; let i=index;" lines="none" class="ion-no-margin ion-no-padding">

      <ion-card style="width: 100%!important;" class="my-margins" >
        <ion-item-sliding #slideitem>

          <ion-item lines="none" (click)="openDefault(objTicket.id)">
            
            <ion-card-content style="background-color: #FFF" class="ion-no-padding ion-padding-top ion-padding-bottom">
              <ion-label class="ion-padding-start ion-padding-end label-tipo" style="float:right"
                [ngClass]="'tipoticket'+objTicket.tipoTicket">{{objTicket.tipoTicket}} </ion-label>
              <ion-card-subtitle>Data: {{objTicket.data1| date: 'dd/MM/yyyy'}}</ion-card-subtitle>
              <ion-card-title class="grassetto">{{objTicket.n_Ticket}}</ion-card-title>
              <ion-label class="ion-padding-start ion-padding-end stato-tipo" style="float:right">
                {{objTicket.statoTicket}} 
              </ion-label>
              <ion-label>Cliente: <span class="grassetto">{{objTicket.customer.ragsoc}}</span> </ion-label>
              <!--<ion-button (click)="showCustomer(objTicket.customerID)">Cliente: <span class="grassetto">{{objTicket.customer.ragsoc}}</span> </ion-button>-->
              
              <ion-label></ion-label>
            </ion-card-content>
          </ion-item>
          
          <ion-item-options side="end">
            <!--
              <ion-item-option (click)="openDetail(objTicket.id, slideitem)" class="w-40px" >
                <span class="rotated-text">ATTIVITA'</span>
              </ion-item-option>
            -->
              <ion-item-option (click)="showCustomer(objTicket.customerID)" color="medium"  class="w-40px">
                <span class="rotated-text">CLIENTE</span>
              </ion-item-option>
              <!-- <ion-item-option class="w-40px">
                <span class="rotated-text">RICAMBI</span>
              </ion-item-option> -->
          </ion-item-options>

        <!--
          <ion-item-options side="end">
            <ion-item-option (click)="closeTicket()" class="bk-complete">
              <ion-icon src="../../assets/ionicicons/complete.svg" size="large"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        -->
        </ion-item-sliding>
      </ion-card>
    </ion-item>
  </ion-list>


  <!-- Link a storico Ticket -->
  <!-- <ion-row class="bk-white">
    <ion-col class="ellipsis-container ion-no-padding ion-padding-top ion-padding-end">
      <ion-card [routerLink]="'/tickets-history'" class="ion-no-margin ion-margin-start ion-card-top-left">
        <ion-card-header class="ion-card-top-left ion-no-padding ion-padding-start ion-padding-end">
          <ion-card-title color="light" font="large">
            <h1 class="ion-no-margin maxi-font">Storico ticket</h1>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row> -->



  <!--
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="tickets-history">
        <ion-icon name="pricetags"></ion-icon>
        <ion-label>Rimborso spese</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="/tickets-history">
        <ion-icon name="archive"></ion-icon>
        <ion-label>Storico Ticket</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
-->

</ion-content>