<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tickets"></ion-back-button>
    </ion-buttons>
    <ion-title>Ticket {{objTicket.n_Ticket}}</ion-title>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>

  <!--
  <ion-button  (click)="setTodayDate()">
    <ion-icon name="today"></ion-icon>
  </ion-button>
  -->

  <ion-item>
    <ion-label>Data Ticket:</ion-label>
    <ion-datetime #dtDefault [(ngModel)]="objTicket.data1" displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>

  <ion-row class="bk-white">
    <ion-col class="ellipsis-container ion-no-padding ion-padding-top ion-padding-end">
      <ion-card [routerLink]="'/tickets'" class="ion-no-margin ion-margin-start ion-card-top-left">
        <ion-card-header class="ion-card-top-left ion-no-padding ion-padding-start ion-padding-end">
          <ion-card-subtitle class="ion-no-padding ellipsis" color="light">N° Attività</ion-card-subtitle>
          <ion-card-title color="light" font="large">
            <h1 class="ion-no-margin maxi-font">{{totCards}} </h1>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col class="ellipsis-container ion-no-padding ion-padding-top ion-padding-startd">
      <ion-card class="ion-no-margin ion-margin-end ion-card-top-right" [routerLink]="'/todo'">
        <ion-card-header class="ion-card-top-right ion-no-padding ion-padding-start ion-padding-end">
          <ion-card-subtitle class="ion-no-padding ellipsis" color="light">Tempo Totale</ion-card-subtitle>
          <ion-card-title color="light" font="large">
            <h1 class="ion-no-margin maxi-font">{{Ore}} h, {{Minuti}} m</h1>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content class="ion-padding" #topPage>
  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>

  <ion-fab *ngIf="objTicket.statoTicket !='90'" vertical="bottom" horizontal="end" slot="fixed" (click)="addTicketDetailForm()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-ticket-detail-card *ngFor="let ticketDetail of ticketDetails;" 
    (removedDetail)="removedDetailCard($event)"
    [ticketCausali]="this.ticketCausali"
    [statoTicket]="objTicket.statoTicket"
    [localTicketDetail]="ticketDetail"> 
  </app-ticket-detail-card>

</ion-content>

 