<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tickets"></ion-back-button>
    </ion-buttons>
    <ion-title>Ticket {{objTicket.n_Ticket}}</ion-title>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>

  <!--
  <ion-button  (click)="setTodayDate()">
    <ion-icon name="today"></ion-icon>
  </ion-button>
  -->

  <ion-item>
    <ion-label>Data Ticket:</ion-label>
    <ion-datetime #dtDefault [(ngModel)]="objTicket.data1"  displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>
  <!-- <ion-item>
    <ion-text>N° card: {{totCards}} </ion-text>
  </ion-item> -->
  <!-- <ion-item>      
    <ion-label>Totale: {{Ore}} ore, {{Minuti}} minuti</ion-label>
  </ion-item> -->

<ion-row class="bk-white">
  <ion-col class="ellipsis-container ion-no-padding ion-padding-top ion-padding-end">
    <ion-card [routerLink]="'/tickets'" class="ion-no-margin ion-margin-start ion-card-top-left" >
      <ion-card-header class="ion-card-top-left ion-no-padding ion-padding-start ion-padding-end">
        <ion-card-subtitle class="ion-no-padding ellipsis" color="light">N° Attività</ion-card-subtitle>
        <ion-card-title color="light" font="large">
          <h1 class="ion-no-margin maxi-font">{{totCards}} </h1>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>
  <ion-col class="ellipsis-container ion-no-padding ion-padding-top ion-padding-startd">
    <ion-card class="ion-no-margin ion-margin-end ion-card-top-right" [routerLink]="'/todo'">
      <ion-card-header class="ion-card-top-right ion-no-padding ion-padding-start ion-padding-end">
        <ion-card-subtitle class="ion-no-padding ellipsis" color="light">Tempo Totale</ion-card-subtitle>
        <ion-card-title color="light" font="large">
          <h1 class="ion-no-margin maxi-font">{{Ore}} h, {{Minuti}} m</h1>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>
</ion-row>


</ion-header>

<ion-content class="ion-padding" #topPage>
  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addTicketDetailForm()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<app-ticket-detail-card  *ngFor="let ticketDetail of ticketDetails; let i=index;" [ticketCausali]="this.ticketCausali" [localTicketDetail]="ticketDetail"> </app-ticket-detail-card>

<!--
  <form [formGroup]="fgroup" *ngFor="let fgroup of ticketDetailsForms.controls; let i=index;">
    <ion-card>
      <ion-item-sliding #slideitem>
                <ion-item-options side="start">
                <ion-item-option>
                  <ion-icon name="save" size="large"></ion-icon>
                </ion-item-option>
              </ion-item-options>  
        <ion-item lines="none">
          <ion-card-content class="ion-no-padding ion-padding-top ion-padding-bottom">
                  <ion-item>
                    <ion-textarea #id formControlName="id"   > </ion-textarea>
                  </ion-item>
            <ion-item>
              <ion-select #causaleID formControlName="causaleID" placeholder="--Selezionare--" required class="w100" (ionChange)="onChange(fgroup)">
                <ion-select-option value=0>--Selezionare--</ion-select-option>
                <ion-select-option *ngFor="let item of ticketCausali" [value]="item.id">{{item.causaleDesc}}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Data: </ion-label>
              <ion-datetime #dt formControlName="dt" displayFormat="DD/MM/YYYY"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label>Ora inizio: </ion-label>
              <ion-datetime #h_Ini formControlName="h_Ini" displayFormat="HH:mm"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label>Ora fine: </ion-label>
              <ion-datetime #h_End formControlName="h_End" displayFormat="HH:mm"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-textarea #note formControlName="note" style="resize:vertical;width:100%"> </ion-textarea>
            </ion-item>
            
            <div class="ion-text-center">
              <ion-button (click)="saveTicketDetail(fgroup)"  expand="block" color="primary" [disabled]="!fgroup.dirty"  >Salva</ion-button>
            </div>
                  <ion-button (click)="deleteTicketDetail(fgroup, i)" color="primary">Cancella </ion-button> 
          </ion-card-content>

        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteTicketDetail(fgroup, i)" color="danger">
            <ion-icon name="trash" size="large" color="light"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>


    </ion-card>
  </form>
-->
</ion-content>