<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tickets"></ion-back-button>
    </ion-buttons>
    <ion-title>ticket-detail</ion-title>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addTicketDetailForm()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <form [formGroup]="fgroup" *ngFor="let fgroup of ticketDetailsForms.controls; let i=index;">

    <ion-card>
      <ion-card-header>

      </ion-card-header>
      
      <ion-card-content>

        <!--************************** Causale ************************** -->
        <ion-item>
          <ion-select  #causaleID formControlName="causaleID"   
            placeholder="--Selezionare--"  required>
              <ion-select-option value=0>--Selezionare--</ion-select-option>
              <ion-select-option *ngFor="let item of ticketCausali" [value]="item.id">{{item.causaleDesc}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!--************************** Data ************************** -->  
        <ion-item>
          <ion-label>Data: </ion-label>
          <ion-datetime #dt formControlName="dt" displayFormat="DD/MM/YYYY" ></ion-datetime>
        </ion-item>

         <!--**************************   ORA Inizio  ************************** -->         
         <ion-item>
          <ion-label>Ora inizio: </ion-label>
          <ion-datetime #h_Ini formControlName="h_Ini" displayFormat="hh:mm" ></ion-datetime>
        </ion-item>

         <!--**************************   ORA Fine  ************************** -->
         <ion-item>
          <ion-label>Ora fine: </ion-label>
          <ion-datetime #h_End formControlName="h_End" displayFormat="hh:mm" ></ion-datetime>
        </ion-item>

        <!--************************** Note  ************************** -->  
        <ion-item>
          <ion-textarea #note formControlName="note" style="resize:vertical;width:100%" > </ion-textarea>
        </ion-item>

        <ion-button (click)="saveTicketDetail(fgroup)" color="primary">Salva </ion-button>
      </ion-card-content>
    </ion-card>
  </form>

</ion-content>