<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio To Do</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="backToTodo()" defaultHref="/todo"></ion-back-button>
    </ion-buttons>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding-bottom ion-padding-top" >
    <ion-label color="medium" class="ion-padding-start">TITOLO</ion-label>
    <ion-item class="ion-padding-end ion-padding-start ion-margin-top">
      <ion-textarea rows="4" class="ion-no-padding" [(ngModel)]="objTodo.titolo" ></ion-textarea>
    </ion-item>
    <ion-label color="medium" class="ion-padding-start">DETTAGLI</ion-label>
    <ion-item class="ion-padding-end ion-padding-start ion-margin-top">
      <ion-textarea rows="8" #dettagli class="ion-no-padding" [(ngModel)]="objTodo.dettagli" >
      </ion-textarea>
    </ion-item>
    <ion-label color="medium" class="ion-padding-start ion-margin-bottom">DATA</ion-label>
    <ion-item class="ion-padding-end ion-padding-start" lines="none">
      <ion-datetime #dt [(ngModel)]="objTodo.dt" displayFormat="DD/MM/YYYY" ></ion-datetime>
    </ion-item>
  </ion-card>
</ion-content>