<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio To Do</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="backToTodo()" defaultHref="/todo"></ion-back-button>
    </ion-buttons>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding-bottom" style="">
  <ion-item class="ion-padding-end ion-padding-start">
    <ion-textarea rows="4" class="ion-no-padding" [(ngModel)]="objTodo.titolo" placeholder="titolo"></ion-textarea>
  </ion-item>
  <ion-item class="ion-padding-end ion-padding-start">
    <ion-textarea rows="4" #dettagli class="ion-no-padding" [(ngModel)]="objTodo.dettagli" placeholder="dettagli">
    </ion-textarea>
  </ion-item>
  <ion-item class="ion-padding-end ion-padding-start" lines="none">
    <ion-label>Data: </ion-label>
    <ion-datetime #dt [(ngModel)]="objTodo.dt" displayFormat="DD/MM/YYYY" ></ion-datetime>
  </ion-item>
  </ion-card>
</ion-content>