<ion-card>
  <ion-card-header >
    <ion-card-subtitle>cliente N. {{localCustomer.codice}}</ion-card-subtitle>
    <ion-card-title>{{localCustomer.ragsoc}}</ion-card-title>
  </ion-card-header>
  <ion-icon class="accordionicon" *ngIf="!accordionExpanded" src="../../../assets/ionicicons/chevron-up-outline.svg"  (click)="toggleAccordion()"></ion-icon>
  <ion-icon class="accordionicon"  *ngIf="accordionExpanded" src="../../../assets/ionicicons/chevron-down-outline.svg"  (click)="toggleAccordion()"></ion-icon>
  <ion-card-content [ngStyle]="{'max-height.px': heightDynamic}" >

    <ion-item class="ion-margin-bottom" lines="none">
      {{localCustomer.indirizzo}}<br>
      {{localCustomer.citta}}-({{localCustomer.prov}})-{{localCustomer.nazione}}<br>
      {{latlngA}}
    </ion-item>
    <div *ngIf="localCustomer.poi" class="linknavigazione">
      <a href="{{'http://www.google.com/maps/place/' + localCustomer.poi}}" target="_blank">
        <ion-icon src="../../../assets/ionicicons/navigate-circle-outline.svg" size="large"></ion-icon>
      </a>
    </div>
    <div  #mapElement class="map"></div>
    <!-- <ion-img src="../../../../assets/img/map.svg"></ion-img> -->

  </ion-card-content>
</ion-card>
