<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>To Do</ion-title>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" #topPage>
  <ion-spinner name="dots" *ngIf="loading"></ion-spinner>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addTodoEventsForm()">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <form [formGroup]="fgroup" *ngFor="let fgroup of todoEventsForms.controls; let i=index;">
    <ion-card class="ion-no-margin ion-margin-bottom ion-padding-start">

      <ion-item-sliding #slideitem>
        <!-- <ion-item-options side="start">
          <ion-item-option>
            <ion-icon name="save" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options> -->
        <ion-item lines="none">

          <ion-list class="ion-no-margin">
            <ion-row>
              <ion-col size="1" class="ion-padding-top">
                <ion-checkbox #Chiuso formControlName="isClosed" color="danger" (ionChange)="onChange(fgroup)">
                </ion-checkbox>
              </ion-col>
              <ion-col size="10">
                <ion-item>
                  <ion-input #titolo formControlName="titolo"
                    [ngStyle]="{'text-decoration': Chiuso.checked === true ?'line-through': 'none'}"
                    (focusout)="onLeave(id.value)" (ionBlur)="onChange(fgroup)">
                  </ion-input>
                </ion-item>
              </ion-col>

              <!-- <ion-col size="1" class="ion-padding-top">-->
                <ion-input #id formControlName="id" hidden></ion-input>
              <!--<ion-icon src="../../assets/ionicicons/create-outline.svg" size="large" color="primary"
                  *ngIf="titolo.value" (click)="onClick(id.value,i)">
                </ion-icon>
              </ion-col> -->

              <!-- <ion-col size="2" class="ion-padding-top">
                <ion-icon src="../../assets/ionicicons/trash-outline.svg" size="large" color="danger"
                  [ngStyle]="{'visibility': Chiuso.checked === true ? 'visible' : 'hidden'}"
                  (click)="onDelete(fgroup.get('id').value,i)" *ngIf="!loading"></ion-icon>
              </ion-col> -->
            </ion-row>

            <ion-row>
              <ion-col size="1">
              </ion-col>
              <ion-col size="9">
                <ion-input #dettagli formControlName="dettagli" hidden></ion-input>
                <ion-label *ngIf="dettagli" class="ion-no-padding ion-input-dettagli"
                  [ngStyle]="{'text-decoration': Chiuso.checked === true ?'line-through': 'none'}">{{dettagli.value}}
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row class="myborder-bottom">
              <ion-col size="1">
              </ion-col>
              <ion-col size="10">
                <ion-input #dt formControlName="dt" hidden></ion-input>
                <ion-label *ngIf="dt.value != ''" class="ion-no-padding ion-input-dettagli"
                  [ngStyle]="{'text-decoration': Chiuso.checked === true ?'line-through': 'none'}">Data:
                  {{dt.value| date: 'dd/MM/yyyy'}}
                </ion-label>
              </ion-col>
            </ion-row>

          </ion-list>
          <!-- <ion-reorder slot="end"></ion-reorder> -->
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="primary">
            <ion-icon name="create" size="large" color="light" (click)="onClick(id.value,i)"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon name="trash" size="large" color="light" (click)="onDelete(fgroup.get('id').value,i)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-card>
  </form>
</ion-content>