<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <img slot="end" width="40px" class="ion-margin-end" src="../../assets/img/BoxX.svg" />
  </ion-toolbar>
</ion-header>

<ion-content class="homepage ion-no-padding">
  <ion-row>
    <ion-col class="ellipsis-container">
      <ion-card [routerLink]="'/tabs'" class="ion-no-margin ion-margin-start ion-card-top-left" >
        <ion-card-header class="ion-card-top-left ion-no-padding ion-padding-top ion-padding-start ion-padding-end">
          <ion-card-subtitle class="ion-no-padding ellipsis" color="light">Ticket Aperti</ion-card-subtitle>
          <ion-card-title color="light" font="large">
            <h1 class="ion-no-margin maxi-font">{{openTicket}}</h1>
            <ion-icon class="icona-label-home1" name="albums"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding ion-padding-start">
          ai Ticket
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ellipsis-container">
      <ion-card class="ion-no-margin ion-margin-end ion-card-top-right" [routerLink]="'/todo'">
        <ion-card-header class="ion-card-top-right ion-no-padding ion-padding-top ion-padding-start ion-padding-end">
          <ion-card-subtitle class="ion-no-padding ellipsis" color="light">ToDo Aperti/Tot</ion-card-subtitle>
          <ion-card-title color="light" font="large">
            <h1 class="ion-no-margin maxi-font">{{openTodo}}<span class="mini-font">/{{totTodo}}</span></h1>
            <ion-icon class="icona-label-home2" name="menu"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding ion-padding-start">
          ai Todo
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
  <!-- <ion-button (click)="gotoDetail()">DETAIL PAGE</ion-button> -->
  <ion-button (click)="takePicture()">take picture</ion-button>

  <p>
    <ion-img style="width: 100px;" [src]="immagine" alt="Foto Scattata"></ion-img>
  </p>
</ion-row>
  <ion-card class="ion-no-margin ion-margin-start ion-margin-end">
    <ion-card-header>
      <ion-card-subtitle class="ion-no-padding">Ticket Chiusi dal ...al</ion-card-subtitle>
      <ion-card-title>
        <ion-icon src="../../assets/ionicicons/bar-chart-outline.svg" class="ion-margin-end"></ion-icon>Ticket Chiusi
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-no-margin ion-margin-start ion-margin-end ion-margin-top">
        <ion-card-header>
          <ion-card-subtitle>Tipologia interventi dal ...al</ion-card-subtitle>
          <ion-card-title><ion-icon src=" ../../assets/ionicicons/pie-chart-outline.svg" class="ion-margin-end">
    </ion-icon>Tipologia Interventi</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <canvas #pieChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>