.sc-ion-card-ios-h {
    margin-top : 8px;
    margin-bottom: 16px;
}

ion-content{
    --background: url("../../assets/img/backgroundhilight.png") no-repeat !important;
    background-size: cover;
}

ion-card {
    --background: white;
    border: 1px #b1b1b1 solid;
}

.sc-ion-card-ios-h, .sc-ion-card-md-h {
    -webkit-box-shadow: none;
    box-shadow: none;
}



.mini-font {
    font-size: small;
}

.maxi-font {
    font-weight: 'strong';
}

.icona-label-home1 {
    //float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-bottom: 5px;
    color: rgba(252, 46, 0, 0.8);
    font-size: 50px;
}

.icona-label-home2 {
    //float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-bottom: 5px;
    color: rgba(3, 126, 103, 0.8);
    font-size: 50px;
}

.ion-card-top-left {
    background-color: #ff9900;
}


.ion-card-top-right {
    background-color: #04c582;
}

.ellipsis-container {
    max-width: 50%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}